.link_none {
  text-decoration: none;
  margin-right: 50px;
  font-size: 18px;
  margin-top: 30px;
}
.btn-shop {
  margin-top: 45px;
  font-size: 20px !important;
  position: relative;
  width: 3.5rem;
  height: 3rem;
}
.number {
  background-color: red;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 6px;
  transform: translate(25%, 25%);
}
